.speaker {
  display: flex;
  text-align: left;
  align-items: flex-start;
}

.speaker .speaker__image {
  width: 100px;
  margin-right: 16px;
}

.speaker .speaker__name {
  font-size: var(--text-md);
  font-weight: var(--font-medium);
}

.speaker .speaker__occupation {
  padding: 8px 0;
  font-size: var(--text-xxs);
  font-style: italic;
  color: var(--color-primary);
}

.speaker .speaker__occupation::after {
  content: "";
  display: block;
  max-width: 20px;
  margin-top: 12px;
  border-bottom: 2px solid var(--color-gray);
}

.speaker .speaker__about {
  font-size: var(--text-xxs);
  margin-top: 8px;
}
