.container {
  padding-left: 18px;
  padding-right: 18px;
}

.flex {
  display: flex;
}

@media screen and (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1156px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  .mobile-only {
    display: none !important;
  }
}
