.section {
  padding: 48px 0;
  text-align: center;
}

.section.section--dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.section .section__title {
  position: relative;
  display: inline-block;
  padding: 16px;
  font-weight: var(--font-regular);
}

.section .section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 40px;
  margin: 0 auto;
  border-bottom: 2px solid var(--color-primary);
}

.section .section__subtitle {
  padding: 16px 0;
  line-height: 24px;
  font-size: var(--text-xs);
}

.section .section__body {
  margin: 40px 0;
}

.section .section__link {
  padding: 24px 32px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.section .section__more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  font-family: var(--base-font-family);
  text-transform: uppercase;
  border: 2px solid var(--color-gray);
}

.section .section__more-btn > *:not(:last-child) {
  margin-right: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 24px;
}
