.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  padding: 0 24px;

  --navbar-height: 48px;
}

.navbar .navbar__logo-wrapper {
  display: none;
}

.navbar .navbar__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.navbar .navbar__cta-button {
  display: none;
}

.navbar .navbar__links-list-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  min-width: 100%;
  opacity: 0;
  z-index: 1;
  flex-direction: column;
  padding: 0 24px;
  background-color: var(--color-white);
  transition: all ease-in-out 0.4s;
}

.navbar .navbar__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  height: var(--navbar-height);
  width: 40px;
  margin-bottom: 18px;
}

.navbar .navbar__links-list-item {
  margin-bottom: 40px;
}

.navbar .navbar__links-list-item a {
  font-weight: var(--font-medium);
  font-size: var(--text-xxl);
  line-height: 44px;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 72px;
    margin-top: var(--toolbar-height) !important;
  }

  .navbar .navbar__logo-wrapper {
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-right: auto;
  }

  .navbar .navbar__logo {
    font-weight: var(--font-bold);
    font-size: 18px;
    line-height: 20px;
  }

  .navbar .navbar__menu-button {
    display: none;
  }

  .navbar .navbar__cta-button {
    display: block;
    padding: 8px 16px;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  .navbar .navbar__close-button {
    display: none;
  }

  .navbar .navbar__links-list-container {
    display: block;
    position: static;
    opacity: 1;
    background-color: transparent;
  }

  .navbar .navbar__links-list {
    display: flex;
  }

  .navbar .navbar__links-list-item {
    height: 100%;
    padding: 16px;
    margin: 0;
  }

  .navbar .navbar__links-list-item a {
    font-size: var(--text-sm);
    line-height: 20px;
    color: var(--color-black);
  }
}
