.toolbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .toolbar {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
  }

  .toolbar .toolbar__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: var(--toolbar-height);
  }

  .toolbar .toolbar__list-item {
    font-size: var(--text-xxs);
  }

  .toolbar .toolbar__list-item a {
    padding: 0 8px;
  }
}
